slack_bolt==1.18.0
google-generativeai==0.3.0
python-dotenv==1.0.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
quickchart.io
psycopg2-binary==2.9.9
SQLAlchemy>=2.0.36
aiohttp
